*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
   box-sizing: border-box;
}

body{
    width: 750px;
    margin: 0 auto;
}

.default-btn{
    padding: 8px 15px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    color: #a2a0a0;
    font-size: 15px;
}
.promise{
    border-color:rgb(16, 171, 233);
    background: rgb(16, 171, 233);
    color:#ffffff;
}
.clearfix{
    &:after{
        content:"";
        height: 0;
        display: block;
        clear:both;
    }
}
.f-left{
    float: left;
}
.c-common-head{
    .c-banner{
        width: 750px;
        height: 400px;
        background: #ccc;
    }
    .c-nav{
        width: 720px;
        margin:0 auto;
        margin-top: 7px;
        li{
            float: left;
            width: 120px;
            text-align: center;
            a{
                text-decoration: none;
                color:#ccc;
            }
            a.active{
                border-bottom:3px solid rgb(31, 147, 243); 
            }
        }
    }
}

//动态详情
.c-dynamic-detail{
    .detail-list{
        width: 720px;
        margin: 0 auto;
        background: #ece9e9;
        //height: 500px;
        margin-top: 10px;
        .search-box{
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 15px;
            margin: 0 auto;
            padding-top: 15px;
            border-bottom: 1px solid #ccc;
            input{
                border: 0;
                display: inline-block;
                height: 35px;
                outline: none;
                width: 70%;
                text-indent: 8px;
                color: #6d6969;
            }
            button{
                width: 27%;
                height: 35px;
                line-height: 35px;
                background: #47a4f5;
                display: inline-block;
                box-sizing: border-box;
                margin-left: 3%;
                outline: none;
                cursor: pointer;
                border: 0;
                color: #ffffff;
                font-size: 15px;
            }
        }
        .ul-box{
            width: 700px;
            margin: 0 auto;
            padding-top:15px;
            padding-bottom: 15px;
            .list{
                //background: #999999;
                //height: 200px;
                margin-bottom:10px;
                padding: 10px 10px;
                a{
                    text-decoration: none;
                }
                .title{
                    font-size: 20px;
                    font-weight: 700;
                    position: relative;
                    text-indent: 27px;
                    color:#000000;
                    div{
                        position: absolute;
                        left: 0;
                        top:2px;
                        width: 25px;
                        height: 25px;
                        border: 2px solid #e28b8b;
                        border-radius: 50%;
                        line-height: 23px;
                        text-align: center;
                        text-indent: 0;
                        color:#e28b8b;
                        font-size: 14px;
                    }
                }
                .contain{
                    margin-top: 5px;
                }
                .photo{
                    width: 100px;
                    height: 100px;
                    background: #666666;
                }
                .text-contain{
                    width: 580px;
                    padding: 0 10px;
                    color:#737070;
                }
                .contain-foot{
                    text-align: right;
                    color:#737070;
                }
            }
        }
    }
}

