.c-studentMien{
    .studentMien-detail{
        margin-top: 15px;
        .banner-list{
            width: 90%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 15px;
            img{
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
            .list{
                color: #a09d9d;
                font-size: 15px;
                line-height: 25px;            
                label{
                    width: 100px;
                    display: inline-block;
                    text-align: right;
                    float: left;
                }
                div{
                    //display: inline-block;
                    margin-left: 100px;
                }
            }
        }
    }
}